
nav {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}


.png {
    background-image: url(architect.jpg);
    background-repeat: no-repeat;
    height: 90vh;
    background-position: center;
}

.text-hero {
    height: 90vh;
    font-size: 40px;
    font-weight: bolder;
    color: white;
    letter-spacing: 4px;

}

.text-hero b {
    background-color: #000;
    padding: 8px 16px;
    opacity: 0.75;
}
.btn{
    background-color: #f1f1f1 ;
}
.btn:hover{
    background-color: lightgray;
}
#img-grey{
    filter: grayscale(0.75);
}